<!-- Javascripts -->
<script th:src="@{/resources/assets/plugins/jquery/jquery-3.1.0.min.js}"></script>
<script th:src="@{/resources/assets/plugins/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/resources/assets/plugins/pace-master/pace.min.js}"></script>
<script th:src="@{/resources/assets/plugins/jquery-blockui/jquery.blockui.js}"></script>
<script th:src="@{/resources/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/resources/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<script th:src="@{/resources/assets/plugins/switchery/switchery.min.js}"></script>
<script th:src="@{/resources/assets/plugins/uniform/js/jquery.uniform.standalone.js}"></script>
<script th:src="@{/resources/assets/plugins/offcanvasmenueffects/js/classie.js}"></script>
<script th:src="@{/resources/assets/plugins/waves/waves.min.js}"></script>
<script th:src="@{/resources/assets/plugins/3d-bold-navigation/js/main.js}"></script>
<script th:src="@{/resources/assets/plugins/waypoints/jquery.waypoints.min.js}"></script>
<script th:src="@{/resources/assets/plugins/toastr/toastr.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.time.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.symbol.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.resize.min.js}"></script>
<script th:src="@{/resources/assets/plugins/flot/jquery.flot.tooltip.min.js}"></script>
<script th:src="@{/resources/assets/plugins/curvedlines/curvedLines.js}"></script>
<script th:src="@{/resources/assets/plugins/chartjs/Chart.bundle.min.js}"></script>
<script th:src="@{/resources/assets/js/meteor.min.js}"></script>
<!--<script th:src="@{/resources/assets/js/pages/dashboard.js}"></script>  -->